<h1>Student Profile </h1>
<h2>Details</h2>
<ul>
    <li>Student id: <%= @student.id %></li>
    <% @profile.attributes.each do |key, value| %>
    <li><%= key %> : <%= value%></li>
    <%end%>
</ul>

<h2>Enrollments</h2>
<% if @enrollments.empty? %>
    <p>No enrollments yet</p>
<% else %>
    <ul>
        <% @enrollments.each do |enrollment| %>
        <li><%= enrollment.name %></li>
        <%end%>
    </ul>
<% end %>

<%= button_to "Delete Student Profile", @student, method: :delete, data: {turbo_confirm: "are you sure?"} %>
<%= link_to "All Students", students_path %>