<h1>Instructor Details</h1>
<h2>Profile</h2>
<ul>
    <p>Instructor id: <%= @instructor.id %></p>
        <% @profile.attributes.each do |key, value| %>
            <li><%= key %> : <%= value%></li>
        <%end%>
</ul>

<h2>Courses</h2>
<% if @courses.empty? %>
    <p>No courses yet</p>
    <%= link_to "create course", new_course_path %>
<% else %>
    <ul>
        <% @courses.each do |course| %>
        <li><%= link_to course.name, course_path(course) %></li>
        <%end%>
    </ul>
<% end %>
<br />
<%= button_to "Delete Instructor Profile", @instructor, method: :delete, data: {turbo_confirm: "are you sure?"} %>
<%= link_to "All Instructors", instructors_path %>