<%= form_with model: @enrollment do |form| %>
  <div>
    <%= form.label :course %>
    <%= form.collection_select :course_id, Course.order(:name), :id, :name %>
  </div>
  <%= form.hidden_field :student_id, value: @student.id%>
  <%= form.submit "Enroll" %>
<% end %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>
